a {
    color: deeppink;
    text-decoration: none;
}

html,
body {
    height: 100%;
}


/*Прижатие футера*/
* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

/*меню*/
.menu {
    padding-left: 50px;
}

.menu a:hover {
    color: blueviolet;
}

.menu a li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

/*конец меню*/
/*начало формы*/
.forma form {
    display: flex;
    flex-direction: column;
    background: cornflowerblue;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase
}

.forma input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    width: 250px;
    height: 30px;
    margin: 10px 15px 15px 10px;
}

/*конец формы*/
html {
    font-family: sans-serif;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

h2 {
    font-weight: 500;
    font-size: 44px;
    color: dodgerblue;
}

h1 {
    font-size: 64px;
    color: dodgerblue;
}
